.blog-info h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 5px;
}
.blog-comment {
    margin-top: 12px;
    min-height: 30px;
}
.blog-info p, .blog-comment p
{
    color: #949494;
}
.blog-comment p:first-child {
    float: left;
}
.blog-comment p:last-child {
    float: right;
    margin-right: 0;
}
.blog-comment p i
{
    color: #949494;
}
.read-more {
    color: #949494;
    margin-top: 15px;
    display: inline-block;
}
.blog-img
{
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.blog-img img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.blog-img img {
    width: 100%;
    opacity: 0.8;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}